
.posts {
    width: 70%;
    padding:25px;
    
}
.post-img{
    width:contain;
    display:block;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
.card-container {
    margin-left: 1%;
    display: grid;
    grid-template-columns: 33% 50% 17%;
    align-items:end;

}
.comment-icon{
    min-width:25px;
    width:50%;
    height:50%;
    float:left;
}
.post {
    box-shadow: 10px 10px 20px #000000;
    background-color: #2d2d30;
}
.post-button{
    width:min-content;
    min-width:100px;
    background-color:transparent;
    border-color:transparent;
    color:whitesmoke;
    text-align:left;
}
.post-button:hover{
    background-color:darkgray;
}
.post-date{
    text-align:left;
}